*.suo
.vs/*

/BuildserverComponents/bin/*
/BuildserverComponents/obj/*

/BuildserverNetwork/bin/*
/BuildserverNetwork/obj/*

/BuildserverPacketParser/bin/*
/BuildserverPacketParser/obj/*

/LedBulb/bin/*
/LedBulb/obj/*

/Client/bin/*
/Client/obj/*

/Server/bin/*
/Server/obj/*